h1 {
     font-family:  Helvetica;
     font-size: 60px;
     color: #1100ff;
     text-align: center;
     font-style: italic;
     font-weight: 600;
}

body {
  background-image:url("mobile_banner-7-1.webp")

}

.one{
  padding:10px 10px;
  display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

}


.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;

}

.four{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;

}

.five{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;

}

.six{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;

}

.seven{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;

}

.hi{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;

}

.helo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;

}

.hehe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;

}

.haha{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;

}












